#preview
#sidebar
    h1 editor
    .row
        button(name="playtest") restart playtest
        button(name="save" disabled) save
    h2 script
    textarea(name="script" spellcheck="false")
    h2 dialogues
    textarea(name="dialogues" spellcheck="false")
